body {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 750px;
  }

  #weatherContainer {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 5px black;
    padding: 35px;
    border-radius: 10px;
    position: absolute;
    visibility: hidden;
  }
  #weatherContainer h1 {
    margin: 5px;
    font-size: 42px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  #weatherMain {
    display: block;
    margin-bottom: 20px;
  }

  #weatherMain div {
    display: inline-block;
  }

  #weatherDescriptionHeader {
    font-size: 28px;
    vertical-align: 50%;
  }

  #temperature {
    font-size: 38px;
    vertical-align: 25%;
  }

  .bottom-details {
    display: block;
    font-size: 24px;
    text-align: right;
  }